{% extends "@SymfonyFullAuth/bundle_form_base.html.twig" %}
{% import "@SymfonyFullAuth/auth/macros/auth_macro_buttons.html.twig" as auth_button %}

{% block title %}
    Login
{% endblock title %}

{% block content %}


    {#    {{ form_errors(form) }} #}

    {% for label, messages in app.flashes() %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {#    {{- form_errors(form) -}} #}

    {{ form_start(form) }}

    {{- form_widget(form) -}}
    {#    <div class="mt-5"> #}
    <button type="submit" class="btn btn-block btn-theme">Login</button>


    {#        <p class="text-muted text-center mt-3 mb-0">Don't have an account? <a href="{{ path('register_form') }}" class="text-primary ml-1">Create Account</a></p> #}

    {#    </div> #}

    <input type="hidden" name="redirect_url" value="{{ redirect_url|default }}">
    {{ form_end(form) }}


    {#    <form action="http://localhost:4200/chat" method="post" target="_blank"> #}

    {#        <input type="hidden" name="test" value="test_jwt"> #}
    {#        <button>Submit</button> #}
    {#    </form> #}

{% endblock content %}

{% block footer %}

    {{ auth_button.forgot_password() }}
    {{ auth_button.create_account }}




    {#    <form action="{{ path('view_user_change_password_form') }}" method="POST"  target="_blank"> #}

    {#        <input type="hidden" name="authorization" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE3MzMxMjk2MTEsImV4cCI6MTczMzEzOTYxMSwicm9sZXMiOlsiUk9MRV9VU0VSIl0sInVzZXJuYW1lIjoiZW1yZTJAa29kcGl0LmNvbSJ9.W00F5M2UADLKpwEJJOXXXiQFD2R4dhCsAusJtAdsF2oWnx4F_rQshX3pAlZihi0mb7BKNcPte5mYkYm9aZFNTK_5_3FOkQX3hLY3UfEOaR284VSTt7CMIN0gg4mlapUXsGQ81i0na7vFcRM3odQJ6ZyyKWKJmG6NSG8win66u6J6Rwlb6GxNDu0L_FmyvEbvG0eh4S1WtlQ8aQmOtiETmoJhfDaj5HQI8wHURG8f_0kbf8OaACXs8HLO9G41M-vbojnqbw4ccaCWeoGRLcYqQzm2yLsjPaXukVYbsk3OrOsHIe9hat3JCvTbwLXU10stAOgEGTMP8HEuiAhHTp7Orw"> #}

    {#        <button> Change Password </button> #}
    {#    </form> #}

{% endblock %}

