
{% extends 'user/reset_password/reset_password_base.html.twig' %}

{% block title %}Reset your password{% endblock %}


{% block content %}

    {{ form_start(resetForm) }}


        {{ form_row(resetForm.newPassword.first) }}


    <div id="password-strength-info-div" class="mb-3">

    </div>

    {{ form_row(resetForm.newPassword.second) }}


    <button class="btn btn-theme mt-3">{{ 'user.reset_password'|trans }}</button>
    {{ form_end(resetForm) }}
{% endblock %}
{% block footer %}
    <p class="text-muted text-center mt-3 mb-0">{{ 'user.do_you_have_an_account'|trans }} <a href="/login" class="text-primary ml-1">{{ 'user.login'|trans }}</a></p>
{% endblock %}
