{% extends "@SymfonyFullAuth/bundle_form_base.html.twig" %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    {% block back_to_login_block %}{% endblock %}


    {{ form_errors(form) }}

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.oldPassword) }}
        <div class="password-container">
            {{ form_widget(form.oldPassword) }}
            <span class="toggle-password" onclick="togglePassword(this)">
                        <svg id="hide-password" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="password-eye-toggle icon icon-tabler icons-tabler-outline icon-tabler-eye"><path
                                stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                                d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/><path
                                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"/></svg>
                        <svg id="show-password" style="display: none" ; xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="password-eye-toggle icon icon-tabler icons-tabler-outline icon-tabler-eye-off"><path
                                stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                                d="M10.585 10.587a2 2 0 0 0 2.829 2.828"/><path
                                d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87"/><path
                                d="M3 3l18 18"/></svg>
                    </span>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.newPassword.first) }}
        <div class="password-container">
            {{ form_widget(form.newPassword.first) }}
            <span class="toggle-password" onclick="togglePassword(this)">
                        <svg id="hide-password" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="password-eye-toggle icon icon-tabler icons-tabler-outline icon-tabler-eye"><path
                                stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                                d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/><path
                                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"/></svg>
                        <svg id="show-password" style="display: none" ; xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="password-eye-toggle icon icon-tabler icons-tabler-outline icon-tabler-eye-off"><path
                                stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                                d="M10.585 10.587a2 2 0 0 0 2.829 2.828"/><path
                                d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87"/><path
                                d="M3 3l18 18"/></svg>
                    </span>
        </div>
    </div>

    <div id="password-strength-info-div" class="mb-2 form-group">

    </div>

    <div class="form-group">
        {{ form_label(form.newPassword.second) }}
        <div class="password-container">
            {{ form_widget(form.newPassword.second) }}
            <span class="toggle-password" onclick="togglePassword(this)">
                        <svg id="hide-password" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="password-eye-toggle icon icon-tabler icons-tabler-outline icon-tabler-eye"><path
                                stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                                d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/><path
                                d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"/></svg>
                        <svg id="show-password" style="display: none" ; xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="password-eye-toggle icon icon-tabler icons-tabler-outline icon-tabler-eye-off"><path
                                stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                                d="M10.585 10.587a2 2 0 0 0 2.829 2.828"/><path
                                d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87"/><path
                                d="M3 3l18 18"/></svg>
                    </span>
        </div>
    </div>


    <input type="hidden"
           name="{{ constant('SymfonyFullAuthBundle\\Service\\JWT\\JWTManuelChecker::POST_JWT_PARAMETER') }}"
           value="{{ jwt }}">

    <button type="submit" onclick="submitForm(event)" class="action-button">Change Password</button>

    {{ form_end(form) }}


{% endblock content %}
{% block footer_js %}

    {#    <script> #}

    {#        function submitForm(event) #}
    {#        { #}

    {#            event.preventDefault(); #}
    {#            console.log("aloo") #}
    {#            var data = JSON.stringify({ #}
    {#                "identifier": "emre2@kodpit.com", #}
    {#                "password": "Memo9112836@" #}
    {#            }); #}

    {#            var xhr = new XMLHttpRequest(); #}
    {#            xhr.withCredentials = true; #}

    {#            xhr.addEventListener("readystatechange", function() { #}
    {#                if(this.readyState === 4) { #}
    {#                    console.log(this.responseText); #}
    {#                } #}
    {#            }); #}

    {#            xhr.open("POST", "https://medicus.local.kodpit.dev/api/login"); #}
    {#            xhr.setRequestHeader("Content-Type", "application/json"); #}
    {#            xhr.setRequestHeader("Authorization", "{{ jwt }}"); #}

    {#            xhr.send(data); #}
    {#        } #}

    {#    </script> #}
{% endblock %}


