{% extends '@SymfonyFullAuth/bundle_form_base.html.twig' %}
{% import "@SymfonyFullAuth/auth/macros/auth_macro_buttons.html.twig" as auth_button %}

{# {% block title %}Reset your password{% endblock %} #}

{% block title %}
    Reset your password
{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="mb-2">
        <small>
            Enter your email address, and we will send you a
            link to reset your password.
        </small>
    </div>



    {{ form_start(requestForm) }}
    <div class="form-group">
        {{ form_label(requestForm.email) }}
        {{ form_widget(requestForm.email) }}
    </div>
    {#            <button class="btn btn-theme btn-block">Send password reset email</button> #}
    <button type="submit" class="action-button">Send password reset email</button>

    {{ form_end(requestForm) }}



{% endblock %}

{% block footer %}
    {{ auth_button.login_button() }}
    {{ auth_button.create_account() }}

{% endblock %}
