{% extends "@SymfonyFullAuth/bundle_form_base.html.twig" %}
{% import "@SymfonyFullAuth/auth/macros/auth_macro_buttons.html.twig" as auth_button %}

{% block title %}
    Register
{% endblock %}

{% block content %}

    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_row(form) }}

    <div id="password-strength-info-div">

    </div>
    <div class="mt-5">
        <button type="submit" class="btn btn-theme">Register</button>
    </div>

    {{ form_end(form) }}


{% endblock content %}

{% block footer %}
    <p class="text-muted text-center mt-3 mb-0"> Do you have an account?   {{ auth_button.login_button() }} </p>



{% endblock %}

{% block footer_js %}
    <script>








        // callback: function (type, result) {
        //     // console.log("Type:", type, "Result:", result);
        //
        //     let element = document.querySelector("li." + type);
        //     if (!element) return;
        //
        //     let successIcon = "la-check-circle";
        //     let failedIcon = "la-exclamation-circle";
        //     let icon = element.querySelector("i");
        //
        //     if (result) {
        //         element.classList.add("success");
        //         icon.classList.remove(failedIcon);
        //         icon.classList.add(successIcon);
        //     } else {
        //         element.classList.remove("success");
        //         icon.classList.add(failedIcon);
        //         icon.classList.remove(successIcon);
        //     }
        // },
    </script>
{% endblock %}
